@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Inter:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-deco-black dark:bg-deco-black bg-deco-white;
}

::-webkit-scrollbar-thumb {
    @apply bg-deco-red dark:bg-deco-red bg-deco-gold rounded-none border-2 border-deco-silver dark:border-deco-silver border-deco-purple;
}
